.main-player-container {
  /* flex-wrap: wrap; */
  width: 100vw;
  height: 100%;
  /* display: flex; */
  display: flex;
  /* background-color: aqua; */
  position: relative;
  align-items: center;
  justify-content: center;
  /* align-self: center; */
  /* padding-right: 10vw; */
  will-change: transform;
}
.category-widget {
  display: flex;
  position: relative;
  align-items: start;
  justify-content: space-between;
  will-change: transform;
}
.player-wrapper {
  color: aqua;
  /* position: absolute; */
  width: fit-content;
  height: fit-content;
  display: flex;
  /* background-color: aqua; */
  justify-content: stretch;
  align-items: stretch;
  will-change: transform;
  /* background-color: aqua; */
}
.player {
  /* width: 10vw; */
  /* width: 100%; */
  will-change: transform;
  visibility: visible;
}
.btn-container {
  display: flex;
  flex-direction: row;
  /* justify-content: end; */
  /* align-items: center; */
}

/* .player-wrapper {
  z-index: 1;
  display: flex;
  flex-direction: column;
} */
.prev-next-btn {
  display: flex;
  width: 3rem;
  height: 2rem;
  background-color: black;
  color: white;
  border-style: none;
  /* margin: 1rem; */
  padding: 0.5rem;
  /* justify-self: center; */
  /* align-items: center; */
  /* justify-content: center; */
  /* align-self: center; */
  /* text-align: center; */
  /* vertical-align: middle; */
}

.pause-btn {
  z-index: 99;
  position: absolute;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  width: 4rem;
  height: 4rem;
  border-style: none;
  /* opacity: 0; */
  color: rgb(231, 231, 231);
  font-weight: 600;
  /* width: 3rem;
  height: 3rem; */
}
