.category-widget {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: rgb(25, 46, 116);
  justify-content: start;
}
.small-widget {
  color: white;
  /* background-color: rgb(116, 25, 93); */
}
.category-table {
  /* background-color: rgb(99, 116, 25); */
  display: flex;
  flex-direction: row;
}
.category-menu {
  display: flex;
  flex-direction: row;
  /* background-color: rgb(116, 25, 86); */
  /* justify-self: start; */
}
.btn {
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-style: none;
}
.category-library {
  /* background-color: rgb(107, 75, 44); */
  display: flex;
  flex-direction: column;
  /* background-color: rgb(14, 87, 87); */
}
.category-element {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.category-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  /* background-color: rgb(87, 86, 14); */
}

.category-major {
  list-style: none;
}
.category {
  list-style: none;
  margin: 1rem;
}
