.App {
  /* text-align: center; */
  /* max-width: 100vw; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* overflow: scroll; */
  will-change: transform;
}
main {
  display: flex;
  margin-top: 8rem;
  width: 100vw;
  /* background-color: rgb(71, 175, 62); */
  align-items: center;
  justify-content: center;
}
