.main-nav {
  z-index: 98;
  top: 0;
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  /* color: white;
  background-color: #1c1d1c; */
  /* opacity: 0.75; */
}
.background {
  z-index: 1;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 4rem;
  color: white;
  background-color: #1c1d1c;
  opacity: 0.75;
}
.logo {
  z-index: 100;
  width: 4rem;
  display: flex;
  margin: 1rem;
  align-items: center;
  /* opacity: 0.9; */
  /* align-items: center; */
  /* justify-content: start;
  align-items: start; */
}
.vimeo-container {
  position: absolute;
  display: flex;
  width: 100vw;
  /* right: 50vw; */
  justify-content: center;
  align-items: center;
  z-index: 99;
  /* background-color: rgb(238, 255, 0); */
}
.nav-container {
  display: flex;
  /* position: absolute; */
  padding-right: 1rem;
  /* right: 0; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* background-color: aqua; */
  /* will-change: auto; */
}
.nav-links {
  z-index: 99;
  width: fit-content;
  display: flex;
  margin: 1rem;
  /* justify-content: space-between; */
  /* align-items: center; */
  list-style: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
svg {
  /* margin-top: 1rem; */
  width: 1.5rem;
  height: 1.5rem;
}
